<head class="profile-head">
  <div >
    <h2 class="profile-title">Hello <%= @user.first_name %>!</h2>
  </div>
</head>

<div class="profile-card">
  <body class="profile-body">
    <div class="profile-info">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="profile-photo">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: "profile-rounded-circle" %>
          <% else %>
            <%= image_tag "http://taysidereusers.co.uk/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 400px", class: "profile-rounded-circle" %>
           <% end %>
        </div>


        <div class="profile-user-info" style="text-align: center;">
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>

        <div class="form-inputs" style="margin-top: 20px;">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :avatar, as: :file, label: 'Wanna update your profile picture?', class: "btn btn-home btn-block submit-btn-yell" %>
        </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, 'Update profile pic', class: "btn btn-home btn-block submit-btn-yell" %>
    </div>
    <% end %>
  </body>
</div>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

