<head class="profile-head">
  <div >
    <h2 class="profile-title">Hello <span style="color: #F8CF61"><%= @user.first_name %></span>!</h2>
  </div>
</head>

<div class="profile-card">
  <body class="profile-body">
    <div class="profile-info">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="profile-photo">
          <% if @user.avatar.attached? %>
            <%= cl_image_tag @user.avatar.key, class: "profile-rounded-circle" %>
          <% else %>
            <%= image_tag "http://taysidereusers.co.uk/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", class: "profile-rounded-circle" %>
           <% end %>
        </div>


        <div class="profile-user-info" style="text-align: center;">
          <p><%= @user.first_name %> <%= @user.last_name %></p>
        </div>

        <div class="form-inputs" style="margin-top: 20px;">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <a id="upload-btn" class="btn"><i class="icon-upload-alt"></i> Browse</a>
          <% end %>
        </div>
    </div>

    <p>Fancy a change?</p>
    <div class="form-actions">
      <%= f.input :avatar, as: :file, label: false %>
      <%= f.button :submit, 'Update profile picture!', class: "btn btn-home btn-block submit-btn-yell" %>
    </div>
    <% end %>
  </body>
</div>


<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn-log-out" %>
