<h2 style="text-align:center; font-weight:bold;">Chat</h2>
<div class="wrapper">
  <div class="top">
    <%= form_with scope: :comment, url: '/comment/store', local: true do |form| %>
      <div class="form-group">
        <%= form.text_field :comment %>
        <%= form.submit "Send" %>
      </div>
    <% end %>
  </div>
  <div class="bottom" id="">
    <% @comments.each do |comment| %>
      <% if comment.user == current_user  %>

        <div class="notification">
          <img src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' class="avatar-large" />
          <div class="notification-content" id="comment_section">
            <p><small><%= comment.created_at.strftime("%k : %M") %></small></p>
            <p><small><%= comment.user.email %></small></p>
            <p><%= comment.comment %></p>
          </div>
        </div>

      <% else %>

        <div class="notification-received">
          <img src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' class="avatar-large" />
          <div class="notification-content" id="comment_section">
            <p><small><%= comment.created_at.strftime("%k : %M") %></small></p>
            <p><small><%= comment.user.email %></small></p>
            <p><%= comment.comment %></p>
          </div>
        </div>

      <% end %>
    <% end %>

    <div class="notification-received hidden" id= "new-entry">
      <img src='https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png' class="avatar-large" />
      <div class="notification-content " id="new-entry-text">
      </div>
    </div>
  </div>

</div>

    <script>
      var channel = pusher.subscribe('comment-channel');
      channel.bind('new-comment', function(data) {
        console.log('test');
          let comment = data.comment;
          let email =data.user.email;
          let created_at = data.created_at;
          var box = document.getElementById('new-entry');
          var div = document.getElementById('new-entry-text');
          div.innerHTML += `<p><small> ${created_at}</small></p>`;
          div.innerHTML += `<p><small> ${email}</small></p>`;
          div.innerHTML += `<p> ${comment} </p>`
          box.classList.remove("hidden")
      });
    </script>

