<div class="card-product d-flex flex-column" style="box-shadow: 0 0 0">
  <img class ="photo"src="<%= venue.photo %>" />
  <div class="card-product-infos-window">
    <div class="d-flex justify-content-between align-items-baseline">
      <h6><strong><%= link_to venue.name, venue_path(venue)%></strong></h6>
    </div>
    <div class="d-flex justify-content-between align-items-baseline">
      <span class="text-inside"><i class="far fa-star"></i> <%= venue.rating %> (<%= venue.review_count %>)</span>
    </div>
    <div class="d-flex">
      <p><%= venue.commute_one %> mins || <%=venue.commute_two %> mins</p>
    </div>
  </div>
</div>
