
<div class="container">
  <div id="my-title"></div>
  <div class="row">
    <div
      id="map"
      style="width: 100%;
      height: 50vh; position: absolute; z-index: 1;"
      data-markers="<%= @markers.to_json %>"
      data-halfway="<%= @halfway %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>

<!--     <div style="z-index: 1;">
      <a href="/venues"><i class="fas fa-arrow-circle-left m-2 p-1" id="back"></i></a>
    </div> -->
    <div class="container card-design padding-bottom" id="transition">
      <div class="d-flex justify-content-between align-items-center pb-3 pr-2 pt-3">
        <h4 class=""><strong>Our Recommendations</strong></h4>
      </div>
      <div class="content">
        <% @venues.each do |venue| %>
         <%# @paginated_venues.each do |venue| %>
          <!-- Each cards -->
          <div class="card-product" data-venue=<%= venue.id %>>
            <img class ="photo"src="<%= venue.photo %>" />
            <div class="card-product-infos d-flex flex-column justify-content-center">
              <div class="d-flex justify-content-between align-items-baseline">
                <% if params[:search].present? %>
                <% @commute_one = params[:search].present? ? venue.find_duration(params[:search][:location_1], 1) : venue.commute_one + "mins" %>
                <% @commute_two = params[:search].present? ? venue.find_duration(params[:search][:location_2], 2) : venue.commute_two + "mins" %>
                  <h6><strong><%= link_to venue.name, venue_path(venue, location_1: @commute_one, location_2: @commute_two)%></strong></h6>
                <% else %>
                 <h6><strong><%= link_to venue.name, venue_path(venue)%></strong></h6>
                <% end %>
                <% if current_user %>
                  <% favourite_for_this_venue = current_user.favourites.find_by(venue: venue) %>
                  <% if favourite_for_this_venue.nil? %>
                  <% else %>
                      <p class=""><i class="fas fa-heart heart"></i></p>
                  <% end %>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-baseline">
                <div>
                  <i class="fas fa-map-marker-alt marker-on-card"></i>
                  <span data-coordinates="<%= [ venue.longitude, venue.latitude ].to_json %>" class="mapTrigger" data-venue="<%= venue.id %>"><%=link_to "View on map" ,"#", class: "text-inside"%></span>

                </div>
                <span class="text-inside"><i class="far fa-star"></i> <%= venue.rating %> (<%= venue.review_count %>)</span>
              </div>
              <div class="d-flex schema-time">
                <p><%= params[:search].present? ? @commute_one : venue.commute_one + "mins" %>  </p>
                <p><%= params[:search].present? ? @commute_two : venue.commute_two + "mins" %>  </p>
              </div>
              <img class="distance" src="<%= asset_path('half_marker.png') %>" alt="">
            </div>
          </div>
        <% end %>
        <%#= will_paginate @paginated_venues, :page_links => false, class:"d-flex justify-content-around" %>
      </div>
    </div>
  </div>
</div>

<script>


