<div class=" venue-container">
  <div class="title d-flex justify-content-between">
    <h2><%= @venue.name %></h2>

    <!-- finding the favourite in the DB for this user and this venue -->
    <% favourite_for_this_venue = current_user.favourites.find_by(venue: @venue) %>

    <% if favourite_for_this_venue.nil? %>
      <%= link_to venue_favourites_path(@venue), method: :post do  %>
        <i class="far fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to favourite_path(favourite_for_this_venue), method: :delete do  %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% end %>

  </div>

  <img src="<%= @venue.photo %>" alt="" class="show-photo">

  <div class="container">
    <div class="actions d-flex justify-content-between">
      <a class="btn btn-flat" href="#">Book table</a>
      <a class="btn btn-flat" href="#">Get there</a>
      <a class="btn btn-flat" href="#">Share</a>
    </div>

    <div class="venue-info">
      <div class="venue">
        <p><i class="fas fa-map-marked-alt icon"></i> <%= @venue.address %></p>
      </div>

      <div class="venue">
        <p><i class="fas fa-phone icon"></i> <%= @venue.phone %></p>
      </div>

      <div class="venue">
        <p><i class="fas fa-star icon"></i> <%= @venue.rating %> (<%= @venue.review_count %>)</p>
      </div>
    </div>

    <div class="reviews">
      <h3 class="mt-3 ">Reviews</h3>
      <div class="home-info">
        <!-- <p class="mt-3"><% 5.times do %><i class="fas fa-star" style="color:#1BBC9A;"></i><% end %></p> -->
        <p class="mt-3"> Great restaurant</p>
      </div>

      <div class="home-info">
        <!-- <p class="mt-3"><% 3.times do %><i class="fas fa-star" style="color:#1BBC9A;"></i><% end %></p> -->
        <p class="mt-3"> Food was great, but service was a little slow</p>
      </div>

      <div class="home-info">
        <!-- <p class="mt-3"><% 5.times do %><i class="fas fa-star" style="color:#1BBC9A;"></i><% end %></p> -->
        <p class="mt-3"> Amazing staff and delicious food</p>
      </div>
      <br>

    </div>

    </div>

  </div>
</div>

